page-home {
    .box {
        background-color: yellow;
        width: 100%;
        height: 100px;
        display: block;
        margin: 10px;
    }

    .box-inline {
        display: inline;
        width: 100px;
        height: 100px;
        background-color: pink;
    }

    .positionStatic {
        position: static;
        display: block;
        width: 100px;
        height: 100px;
        background-color: red;
        margin: 10px;
        left: 100px;
    }

    .positionRelative {
        position: relative;
        display: block;
        width: 100px;
        height: 100px;
        background-color: blue;
        margin: 10px;
        left: 100px;
    }

    .positionAbsolute {
        position: absolute;
        top: 0px;
    }

    .positionFixed {
        position: fixed;
        left: 100px;
        top: 100px;
    }
    
    .circle {
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        background-color: yellow;
    }
}
